body {
  background-color: #cccccc5d;
}

body #Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  width: 100%;
}

body #Header .HeaderAndNav {
  background-color: #191970;
  width: 100%;
  height: 100%;
}

body #Header .HeaderAndNav .SiteHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

body #Header .HeaderAndNav .SiteHeader .userImg {
  border-radius: 8%;
  margin: 10px 70px;
  width: 70px;
}

body #Header .HeaderAndNav .SiteHeader .SiteImg {
  border-radius: 10px;
}

body #Header .HeaderAndNav .SiteHeader a {
  text-decoration: none;
  color: #ffffff;
}

body #Header .HeaderAndNav .RegistrHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

body #Header .HeaderAndNav .RegistrHeader .btnHeader {
  padding: 5px 30px;
  margin-left: 15px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #191970;
  font-size: 20px;
  font-weight: 600;
  border: none;
}

body #Header .HeaderAndNav .RegistrHeader .btnHeader:hover {
  color: #ffffff;
  background-color: #6868a733;
}

body #Header .HeaderAndNav .RegistrHeader .btnHeader a {
  text-decoration: none;
}

body #Header .HeaderAndNav .NavbarHed {
  background-color: #ffffff;
  text-align: center;
}

body #Header .HeaderAndNav .NavbarHed ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

body #Header .HeaderAndNav .NavbarHed ul li {
  padding: 10px;
  list-style: none;
}

body #Header .HeaderAndNav .NavbarHed ul li a {
  text-decoration: none;
  color: #191970c7;
  font-weight: 500;
  font-size: 20px;
}

body #Header .HeaderAndNav .NavbarHed ul li :active {
  color: #191970;
}

body #Services .ServicesName h5 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  padding-top: 70px;
}

body #Services .serv {
  background-color: #191970;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

body #Services .serv .SevricesType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

body #Services .serv .SevricesType img,
body #Services .serv .SevricesType a {
  font-weight: 700;
  font-size: large;
  color: #cccccc;
  text-decoration: none;
}

body #Services .serv:hover {
  background-color: #ffffff;
}

body #Services .serv:hover .SevricesType a {
  color: #191970;
}

body .AppStore {
  background-color: #191970;
  margin-top: 50px;
  position: relative;
  width: 100%;
}

body .AppStore .AppStoreInfo {
  position: relative;
  text-align: left;
  padding: 20px;
}

body .AppStore .AppStoreInfo h6 {
  color: #ffffff;
}

body .AppStore .PhoneImg {
  right: 10rem;
  position: absolute;
  width: 9rem;
  top: -4rem;
}

body .MainSection {
  height: 100px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .MainSection .RentLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

body .MainSection .RentLogo p {
  font-size: 20px;
  color: #191970;
  font-weight: 600;
}

body .MainSection .SosialIcon {
  margin: 10px;
  text-align: center;
}

body .MainSection .SosialIcon p {
  font-size: 20px;
  font-weight: 600;
  color: #191970;
  margin-bottom: 5px;
}

body .MainSection .SosialIcon a {
  text-decoration: none;
  color: #191970;
  margin: 10px;
}

body .MainSection .SosialIcon a i {
  font-size: 15px;
  padding: 15px;
  border: 1px solid #191970;
  border-radius: 25px;
}

body .MainSection .SosialIcon :hover {
  background-color: #191970;
  color: white;
}

body .MainSection .Abune p {
  font-size: 15px;
  font-weight: 700;
  opacity: .7;
  color: #191970;
  text-align: center;
  padding-top: 15px;
}

body .MainSection .Abune .AbuneLb {
  width: 100%;
  border-radius: 5px;
  background-color: #F6F6F6;
  padding: 15px;
  border: none;
}

body .FooterSection .StateSite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

body .FooterSection .StateSite:active {
  color: #ffffff;
}

body .FooterSection .StateSite i,
body .FooterSection .StateSite a {
  color: #191970d2;
}

body .FooterSection .StateSite i :hover,
body .FooterSection .StateSite a :hover {
  color: #ffffff;
  border: #ffffff;
}

body .FooterSection .StateSite i {
  padding-right: 5px;
}

body .FooterSection .StateSite a {
  padding-right: 20px;
  text-decoration: none;
  font-weight: 600;
}

body .Law {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #191970;
}

body .Law p {
  font-size: 15px;
  font-weight: 500;
  margin: 3px;
  padding-left: 30px;
  padding-right: 30px;
  opacity: .7;
  color: #ffffff;
}

body .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 50px;
  /* OTHERS */
}

body .wrapper a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

body .wrapper h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

body .wrapper #formContent {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 #0000004d;
  box-shadow: 0 30px 60px 0 #0000004d;
  text-align: center;
}

body .wrapper #formContent .KindGreed {
  color: #4f9cc2ab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper #formContent .KindGreed h6 {
  padding-right: 15px;
}

body .wrapper #formContent .KindGreed h6 input {
  margin-left: 5px;
}

body .wrapper #formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

body .wrapper h2.inactive {
  color: #cccccc;
}

body .wrapper h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #191970;
}

body .wrapper input[type=button],
body .wrapper input[type=submit],
body .wrapper input[type=reset] {
  background-color: #191970;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 #2d147266;
  box-shadow: 0 10px 30px 0 #1e187966;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 20px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .wrapper input[type=button]:hover,
body .wrapper input[type=submit]:hover,
body .wrapper input[type=reset]:hover {
  background-color: #171775c5;
}

body .wrapper input[type=button]:active,
body .wrapper input[type=submit]:active,
body .wrapper input[type=reset]:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

body .wrapper input[type=text],
body .wrapper [type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 5px 5px 5px 5px;
}

body .wrapper input[type=text]:focus,
body .wrapper [type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

body .wrapper input[type=text]:placeholder {
  color: #cccccc;
}

body .wrapper .fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body .wrapper .fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

body .wrapper .fadeIn.first {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

body .wrapper .fadeIn.second {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

body .wrapper .fadeIn.third {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

body .wrapper .fadeIn.fourth {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

body .wrapper .underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

body .wrapper .underlineHover:hover {
  color: #0d0d0d;
}

body .wrapper .underlineHover:hover:after {
  width: 100%;
}

body .wrapper *:focus {
  outline: none;
}

body .wrapper #icon {
  width: 60%;
}

body .NewGreed {
  padding: 10px;
}

body .NewGreed p {
  text-align: center;
}

body .Contract {
  height: 69vh;
}

body .Contract .ContInf1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .Contract .ContInf1 #ContActive {
  background-color: #92badd;
}

body .Contract .ContInf1 h4 {
  background-color: #191970;
  padding: 6px 12px;
  color: #ffffff;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

body .Contract .ContInf1 p {
  margin-top: 15px;
  font-weight: 600;
}

body .Contract .ContractHeader {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .Contract .ContractHeader a {
  text-decoration: none;
  color: #f6f6f6;
}

body .Contract .ContractInput h6 {
  padding-top: 15px;
  color: #191970;
}

body .Contract .ContractInput input {
  width: 20rem;
  height: 35px;
}

body .Card {
  margin-top: 40px;
  border-radius: 5px solid grey;
}

body .Card h1 {
  color: #191970c7;
  font-size: 30px;
  padding: 15px 100px;
}
/*# sourceMappingURL=style.css.map */